[Unit]
Description=Start Realsense Camera
After=NetworkManager.service time-sync.target

[Service]
Type=simple
User=iam-lab
ExecStart=/home/iam-lab/Documents/pibox_scripts/systemd_scripts/start_realsense.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

